# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python virtual environment
.venv/
__pycache__/

# Environment variables
.env

# Poetry lock file
poetry.lock

# Pytest cache
.pytest_cache/

# Test reports
test-reports/
